@import './Variables/variables.scss';

.top-section {
    margin-top: 15rem;
    width: 100%;
    margin-bottom: 15rem;

    .content {
        width: 80%;

        .title {
            padding-bottom: 8rem;
            text-align: left;

            h2, h1 {
                margin: 0;
            }
        }

        ul {
                padding: 0;
            }

        .project {
            list-style: none;
            display: flex;
            justify-content: space-evenly;

            .wrapImg {
                list-style: none;
                display: flex;
                justify-content: space-evenly;
                width: 40%;
                position: relative;
                align-items: center;
                max-width: 500px;

                .monitorImg {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: #ddf0ff;
                    z-index: 10;
                    border-radius: 20px;
                    border: 0.5rem solid $secColor;
                    transition: 0.3s ease;
                    overflow: hidden;

                    .searchBar {
                        width: 90%;
                        height: 12%;
                        background-color: white;
                        border-radius: 10px;
                        margin: 1.5rem auto;
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        p {
                            font-size: 0.7rem;
                            margin-left: 1rem;
                        }

                        .inputEl {
                            display: flex;
                            width: 30%;
                            height: 60%;

                            input,
                            a {
                                box-sizing: border-box;
                                margin: 0;
                                padding: 0;
                                font: Inter;
                                border: none;
                                color: $mainColor;
                            }

                            input {
                                flex: 1;
                                border: 2px solid #ddf0ff;
                                border-right: none;
                                border-radius: 5px 0 0 5px;
                                padding: 0 10px;
                                width: 70%;
                                border-color: #ddf0ff;
                                height: 100%;
                                font-size: 0.7rem;
                                line-height: normal;

                                &:focus {
                                    outline: none;
                                    box-shadow: none;
                                }
                            }

                            a {
                                display: flex;
                                width: 20%;
                                border: 2px solid #ddf0ff;
                                border-left: none;
                                border-radius: 0 5px 5px 0;
                                background-color: #ddf0ff;
                                cursor: pointer;
                                font-size: 0.5rem;
                                align-items: center;
                                justify-content: center;
                            }
                        }

                        .weatherDarkMode {
                            border: none;
                            cursor: pointer;
                            margin-left: auto;
                            margin-right: 1rem;
                            background-color: transparent;

                            svg {
                                background-color: #ddf0ff;
                                width: 0.7rem;
                                height: 0.7rem;
                                border-radius: 50px;
                                padding: 0.3rem;
                                color: $mainColor;
                            }
                        }
                    }

                    .weatherContent {
                        width: 90%;
                        height: 50%;
                        display: flex;
                        justify-content: space-between;
                        margin: auto;
                        

                        .left {
                            width: 55%;
                            height: 100%;

                            .el1 {
                                height: 70%;
                                width: 100%;
                                background-color: white;
                                border-radius: 10px;
                                margin-bottom: 1rem;
                                background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://cdn.pixabay.com/photo/2018/09/03/13/11/vienna-3651186_1280.jpg');
                                background-size: cover;
                                background-position: center;

                                div {
                                    padding: 0.5rem;
                                    display: flex;
                                    align-items: center;
                                    gap: 0.4rem;

                                    .mainInfo {
                                    display: block !important;
                                    padding: 0;
                                    align-content: center;

                                        p {
                                            margin: 0;
                                            color: white;
                                            font-size: 0.8rem;

                                            &:last-child {
                                                font-size: 0.6rem;
                                                font-weight: 300;
                                            }
                                        }
                                    }

                                    img {
                                        height: 2rem;
                                    }
                                }
                            }

                            .el2 {
                                height: 30%;
                                width: 100%;
                                border-radius: 10px;
                                display: flex;
                                justify-content: space-between;

                                div {
                                    width: 30%;
                                    height: 100%;
                                    background-color: white;
                                    border-radius: 10px;
                                    position: relative;

                                    p {
                                        margin: 0;
                                        font-size: 0.5rem;
                                        text-align: center;
                                        top: 50%;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        position: absolute;
                                        width: fit-content;
                                        
                                        &:first-child {
                                            text-align: left;
                                            font-weight: 600;
                                            top: 10%;
                                            left: 10%;
                                            transform: translateX(0);
                                        }
                                    }
                                }
                            }
                        }

                        .right {
                            width: 35%;
                            height: calc(100% + 1rem);
                            background-color: white;
                            border-radius: 10px;

                            .el1 {
                                height: 100%;

                                .top{
                                    display: flex;
                                    gap: 0.4rem;
                                    margin: 0 0.5rem;
                                    height: 20%;
                                    align-items: center;

                                    p {
                                        font-size: 0.6rem;
                                        margin: 0;
                                        font-weight: 600;
                                        border-bottom: 1px solid transparent;

                                        &:first-child {
                                            border-bottom: 1px solid $mainColor;
                                        }
                                    }
                                }

                                .bottom {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    height: 80%;
                                    
                                    .bottomEl {
                                        display: flex;
                                        align-items: center;
                                        width: 100%;
                                        height: 80%;
                                        justify-content: space-evenly;

                                        &:not(:last-child) {
                                            border-bottom: 1px solid #ddf0ff;
                                        }

                                        div {

                                            display: flex;
                                            align-items: center;
                                            gap: 0.5rem;

                                            img {
                                            width: 1rem;
                                            height: 1rem;
                                            }

                                            p {
                                                font-size: 0.6rem;
                                                margin: 0;
                                            }

                                            .celsius {
                                                font-weight: 600;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .weatherFooter {
                        position: absolute;
                        width: 90%;
                        height: 10%;
                        background-color: white;
                        border-radius: 10px 10px 0 0;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);

                        p {
                            font-size: 0.7rem;
                            text-align: center;
                            margin: 0;
                            font-weight: 600;
                            margin-top: 0.3rem;

                            &:last-child {
                                font-weight: 400;
                                margin-top: 0;
                            }
                        }
                    }
                }

                .darkmode {
                    background-color: $mainColor !important;
                    transition: 0.3s ease;

                    .searchBar, .el2 div, .weatherFooter, .right {
                        background-color: rgb(56, 56, 56) !important;
                        transition: 0.3s ease;
                        color: white;
                    }

                    .inputEl a {
                        background-color: $mainColor !important;
                        color: white !important;
                        border-color: $mainColor !important;
                        transition: 0.3s ease;
                    }

                    .inputEl input {
                        background-color: rgb(90, 90, 90) !important;
                        color: white !important;
                        border-color: $mainColor !important;
                        transition: 0.3s ease;
                    }

                    .inputEl input::placeholder {
                        color: rgb(221, 221, 221);
                        transition: 0.3s ease;
                    }

                    .weatherDarkMode svg {
                        background-color: $mainColor !important;
                        transition: 0.3s ease;
                        color: white !important;
                    }

                    .top p:first-child{
                        border-color: white !important;
                        transition: 0.3 ease;
            }
                }
                

            &:hover {
                
                .icon {
                    top: -4.5rem;
                    transition: 0.4s ease;
                }

                .project-image::after {
                    opacity: 0;
                    transition: 0.3s ease;
                }
            }

            .icon {
                position: absolute;
                z-index: 1;
                top: 3rem;
                display: flex;
                gap: 10px;
                justify-content: center;
                align-items: center;
                transition: 0.4s ease;
                padding-bottom: 1rem;

                svg {
                    width: 30px;
                    height: 30px;
                    background-color: $thirdColor;
                    color: white;
                    border-radius: 10px;
                    padding: 10px;
                }

                h2 {
                    margin: 0;
                }
                }
            }

            .monitorStand {
                position: absolute;
                bottom: 1rem;

                .leg {
                    position: absolute;
                    width: 1.5rem;
                    height: 4rem;
                    background-color: $secColor;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .support {
                    position: absolute;
                    width: 5rem;
                    height: 1rem;
                    background-color: $secColor;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -4rem;
                    border-radius: 6px;
                }
            }

            .project-desc {
                height: fit-content;

                div {
                    display: flex;
                    gap: 15px;

                    a {
                        width: fit-content;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1100px) { 

    .top-section {
        margin-top: 10rem !important;
    }

    .content .title {
        padding-bottom: 7rem !important;
        text-align: center;

        h1, h2 {
            font-size: 2rem !important;
        }
        
    }

    .project {
        display: block !important;

        .wrapImg {
            display: block;
            height: 250px;
            width: 100% !important;
            max-width: 400px;
            margin: auto;
            margin-bottom: 6rem;

            .icon {
                top: -5rem !important;
            }

            .searchBar {
                margin: 1rem !important;
            }
        }

        .project-desc {
            display: block;
            width: 100%;
            margin: auto;

            p {
                margin: auto;
            }

            h2 {
                font-size: 2rem;
                text-align: center;
            }

            div {
                margin-top: 1rem;
                justify-content: center;
            }
        }
    }
}


@media (max-width: 768px) {
  .inputEl input {
    pointer-events: none;
  }

  .top-section .content .project .wrapImg .monitorImg .weatherContent .left .el2 div p {
    font-size: 0.43rem;
  }
}